*.ipynb linguist-documentation
assets/query_vancouver_1.JPG filter=lfs diff=lfs merge=lfs -text
assets/query_vancouver_2.JPG filter=lfs diff=lfs merge=lfs -text
assets/query_vancouver_3.JPG filter=lfs diff=lfs merge=lfs -text
assets/query_zurich_1.JPG filter=lfs diff=lfs merge=lfs -text
